In [233]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup

import re
import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [ ]:
#read dataframe csv file

In [234]:
MovieData_df = pd.read_csv('MovieData.csv')

In [237]:
MovieData_df

,Unnamed: 0,Title,Year,Certificate,Runtime,Genre,Imdb_rating,Metascore,Director,Votes,Gross
0,0,12 Angry Men,(1957),U,96 min,"\nCrime, Drama",9.0,97.0,Sidney Lumet,"844,910",$4.36M
1,1,12 Years a Slave,(2013),A,134 min,"\nBiography, Drama, History",8.1,96.0,Steve McQueen,"731,219",$56.67M
2,2,1917,(2019),R,119 min,"\nAction, Drama, War",8.2,78.0,Sam Mendes,"654,454",$159.23M
3,3,2001: A Space Odyssey,(1968),U,149 min,"\nAdventure, Sci-Fi",8.3,84.0,Stanley Kubrick,"706,415",$56.95M
4,4,"4 luni, 3 saptamâni si 2 zile",(2007),NaN,113 min,\nDrama,7.9,97.0,Cristian Mungiu,"62,763",$1.19M
...,...,...,...,...,...,...,...,...,...,...,...
495,495,Zelig,(1983),NaN,79 min,\nComedy,7.7,NaN,Woody Allen,"43,664",$11.80M
496,496,Zerkalo,(1975),NaN,107 min,"\nBiography, Drama",8.0,82.0,Andrei Tarkovsky,"50,989",$0.18M
497,497,Zootopia,(2016),U,108 min,"\nAnimation, Adventure, Comedy",8.0,78.0,Byron Howard,"533,952",$341.27M
498,498,À bout de souffle,(1960),U,90 min,"\nCrime, Drama",7.7,NaN,Jean-Luc Godard,"86,672",$0.34M
499,499,Ôkami kodomo no Ame to Yuki,(2012),U,117 min,"\nAnimation, Drama, Family",8.1,71.0,Mamoru Hosoda,"48,369",NaN

In [ ]:
#to know the dataframe's information

In [238]:
MovieData_df.shape

(500, 11)

In [239]:
MovieData_df.dtypes

Unnamed: 0       int64
Title           object
Year            object
Certificate     object
Runtime         object
Genre           object
Imdb_rating    float64
Metascore      float64
Director        object
Votes           object
Gross           object
dtype: object

In [240]:
MovieData_df.isnull().sum()

Unnamed: 0       0
Title            0
Year             0
Certificate    191
Runtime          0
Genre            0
Imdb_rating      0
Metascore      125
Director         0
Votes            0
Gross          148
dtype: int64

In [241]:
MovieData_df['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Name: Unnamed: 0, Length: 500, dtype: int64

In [ ]:
#to create an index and rename it

In [242]:
Id = []
for i in MovieData_df['Unnamed: 0']:
    Id.append(MovieData_df['Unnamed: 0'][i] + 1)

In [243]:
MovieData_df['Unnamed: 0'] = Id

In [244]:
MovieData_df['Unnamed: 0']

0        1
1        2
2        3
3        4
4        5
      ...
495    496
496    497
497    498
498    499
499    500
Name: Unnamed: 0, Length: 500, dtype: int64

In [245]:
MovieData_df.rename(columns = {'Unnamed: 0':'Id'}, inplace = True)

In [246]:
MovieData_df

,Id,Title,Year,Certificate,Runtime,Genre,Imdb_rating,Metascore,Director,Votes,Gross
0,1,12 Angry Men,(1957),U,96 min,"\nCrime, Drama",9.0,97.0,Sidney Lumet,"844,910",$4.36M
1,2,12 Years a Slave,(2013),A,134 min,"\nBiography, Drama, History",8.1,96.0,Steve McQueen,"731,219",$56.67M
2,3,1917,(2019),R,119 min,"\nAction, Drama, War",8.2,78.0,Sam Mendes,"654,454",$159.23M
3,4,2001: A Space Odyssey,(1968),U,149 min,"\nAdventure, Sci-Fi",8.3,84.0,Stanley Kubrick,"706,415",$56.95M
4,5,"4 luni, 3 saptamâni si 2 zile",(2007),NaN,113 min,\nDrama,7.9,97.0,Cristian Mungiu,"62,763",$1.19M
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Zelig,(1983),NaN,79 min,\nComedy,7.7,NaN,Woody Allen,"43,664",$11.80M
496,497,Zerkalo,(1975),NaN,107 min,"\nBiography, Drama",8.0,82.0,Andrei Tarkovsky,"50,989",$0.18M
497,498,Zootopia,(2016),U,108 min,"\nAnimation, Adventure, Comedy",8.0,78.0,Byron Howard,"533,952",$341.27M
498,499,À bout de souffle,(1960),U,90 min,"\nCrime, Drama",7.7,NaN,Jean-Luc Godard,"86,672",$0.34M
499,500,Ôkami kodomo no Ame to Yuki,(2012),U,117 min,"\nAnimation, Drama, Family",8.1,71.0,Mamoru Hosoda,"48,369",NaN

In [247]:
MovieData_df['Genre']

0                      \nCrime, Drama
1         \nBiography, Drama, History
2                \nAction, Drama, War
3                 \nAdventure, Sci-Fi
4                             \nDrama
                          ...
495                          \nComedy
496                \nBiography, Drama
497    \nAnimation, Adventure, Comedy
498                    \nCrime, Drama
499        \nAnimation, Drama, Family
Name: Genre, Length: 500, dtype: object

In [ ]:
#datacleaning each column

In [248]:
genre = []

In [249]:
for i in MovieData_df['Genre']:
    g = i.strip()
    genre.append(g)

In [250]:
genre

['Crime, Drama',
 'Biography, Drama, History',
 'Action, Drama, War',
 'Adventure, Sci-Fi',
 'Drama',
 'Drama',
 'Crime, Sci-Fi',
 'Comedy, Musical',
 'Drama, Fantasy, Romance',
 'Drama',
 'Drama, Romance',
 'Drama, Film-Noir',
 'Action, Adventure, Biography',
 'Drama, Romance, Thriller',
 'Action, Comedy, Drama',
 'Drama',
 'Animation, Action, Drama',
 'Drama',
 'Horror, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Drama',
 'Drama, War',
 'Drama, History, Thriller',
 'Biography, Drama, Music',
 'Comedy, Drama',
 'Drama',
 'Crime, Drama',
 'Drama',
 'Drama, Mystery',
 'Biography, Drama, History',
 'Drama, Romance',
 'Comedy, Romance',
 'Drama',
 'Drama, Mystery, War',
 'Drama',
 'Drama',
 'Crime, Drama, Thriller',
 'Drama',
 'Drama, War',
 'Drama, Music, Romance',
 'Drama, Family, Sport',
 'Adventure, Comedy, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Romance',
 'Drama',
 'Adventure, Drama, War',
 'Animation, Family, Fantasy',
 'Drama, Romance',
 'Drama, Romance',
 'Comedy, Drama',
 'Adventure, Drama',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Biography, Crime',
 'Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama',
 'Drama, Romance',
 'Comedy',
 'Drama, History, Thriller',
 'Biography, Crime, Drama',
 'Western',
 'Drama, Music, Musical',
 'Drama, Romance',
 'Drama',
 'Crime, Drama, Thriller',
 'Drama, Romance, War',
 'Crime, Drama',
 'Drama',
 'Biography, Crime, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Mystery, Romance',
 'Drama, Mystery, Thriller',
 'Comedy, Crime, Drama',
 'Crime, Drama',
 'Drama, Mystery',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Music',
 'Animation, Adventure, Drama',
 'Crime, Drama',
 'Drama, Romance',
 'Action, Biography, Drama',
 'Drama',
 'Drama, War',
 'Horror, Mystery, Thriller',
 'Drama, Mystery, Thriller',
 'Crime, Mystery, Thriller',
 'Drama, Romance',
 'Comedy, Drama',
 'Drama, Fantasy, Romance',
 'Biography, Drama, History',
 'Drama',
 'Adventure, Biography, Drama',
 'Drama, Fantasy',
 'Crime, Thriller',
 'Action, Thriller',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Drama, Western',
 'Comedy, Drama',
 'Biography, Crime, Drama',
 'Comedy, Crime, Drama',
 'Crime, Drama, Film-Noir',
 'Comedy, Crime, Drama',
 'Crime, Mystery, Thriller',
 'Comedy, War',
 'Crime, Drama, Thriller',
 'Comedy, Musical',
 'Adventure, Family, Sci-Fi',
 'Drama, Fantasy, Romance',
 'Drama, Fantasy',
 'Drama, Fantasy, War',
 'Drama, Mystery, Romance',
 'Drama, Fantasy',
 'Drama, Romance, Sci-Fi',
 'Drama, Romance',
 'Drama',
 'Animation, Family, Fantasy',
 'Crime, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Drama',
 'Animation, Adventure, Comedy',
 'Adventure, Drama',
 'Action, Biography, Drama',
 'Drama, Romance',
 'Drama, Horror',
 'Drama, War',
 'Drama, History, War',
 'Drama, Thriller',
 'Action, Adventure, Drama',
 'Drama, Mystery, Thriller',
 'Drama, Romance, War',
 'Drama, Romance',
 'Biography, Crime, Drama',
 'Drama',
 'Drama, Thriller, Western',
 'Comedy, Drama, Fantasy',
 'Crime, Drama, Romance',
 'Drama, Mystery, Romance',
 'Crime, Drama, Romance',
 'Comedy, Drama',
 'Adventure, Family, Fantasy',
 'Animation, Adventure, Family',
 'Action, Crime, Drama',
 'Drama, Thriller, Western',
 'Drama, Romance',
 'Comedy, Drama, Romance',
 'Animation, Drama, War',
 'Biography, Drama, History',
 'Animation, Action, Adventure',
 'Drama, War',
 'Drama, Music',
 'Crime, Drama, Film-Noir',
 'Comedy, Drama',
 'Drama, Thriller, War',
 'Drama',
 'Adventure, Western',
 'Drama',
 'Drama, History',
 'Comedy, Drama',
 'Biography, Drama, History',
 'Drama, Film-Noir, Mystery',
 'Biography, Crime, Drama',
 'Drama, Mystery, War',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure',
 'Adventure, Drama, War',
 'Animation, Adventure, Comedy',
 'Adventure, Drama, Sci-Fi',
 'Drama, History',
 'Biography, Comedy, Drama',
 'Comedy, Romance',
 'Animation, Comedy, Drama',
 'Drama, Family, Fantasy',
 'Drama, War',
 'Drama',
 'Adventure, Mystery, Thriller',
 'Comedy, Drama',
 'Drama',
 'Biography, Drama, History',
 'Comedy, Drama, War',
 'Drama',
 'Drama, War',
 'Drama, Romance',
 'Drama',
 'Drama',
 'Drama, History, War',
 'Animation, Drama, Family',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Animation, Adventure, Sci-Fi',
 'Drama, Family',
 'Drama, Family',
 'Animation, Drama, Fantasy',
 'Comedy, Crime',
 'Animation, Adventure, Comedy',
 'Drama, Romance',
 'Crime, Drama',
 'Drama',
 'Animation, Action, Crime',
 'Drama, Fantasy, Horror',
 'Comedy, Drama, Romance',
 'Drama, Mystery',
 'Drama, War',
 'Drama, Mystery, Romance',
 'Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Romance',
 'Drama, War',
 'Comedy, Drama',
 'Drama, Fantasy, Music',
 'Drama, War',
 'Crime, Drama',
 'Short, Drama, Romance',
 'Drama, Romance',
 'Drama, Romance',
 'Drama',
 'Comedy, Drama, Romance',
 'Biography, Drama, History',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Drama',
 'Drama, Film-Noir, Mystery',
 'Adventure, Biography, Drama',
 'Crime, Drama, Thriller',
 'Short, Comedy, Drama',
 'Crime, Drama, Thriller',
 'Comedy',
 'Comedy, Romance',
 'Comedy',
 'Drama',
 'Adventure, Drama, Thriller',
 'Biography, Drama',
 'Crime, Drama, Thriller',
 'Short, Action, Adventure',
 'Crime, Drama, Horror',
 'Drama, Romance',
 'Crime, Drama',
 'Animation, Adventure, Comedy',
 'Drama, Romance',
 'Drama, Romance, War',
 'Comedy',
 'Drama, Music, Romance',
 'Crime, Drama',
 'Comedy, War',
 'Action, Crime, Drama',
 'Crime, Mystery, Thriller',
 'Comedy, Drama, Romance',
 'Action, Adventure, Sci-Fi',
 'Drama, Romance',
 'Animation, Family, Fantasy',
 'Drama, Romance',
 'Crime, Drama, Thriller',
 'Comedy, Drama, Romance',
 'Drama, Romance',
 'Animation, Comedy, Drama',
 'Mystery, Thriller',
 'Short, Fantasy, Mystery',
 'Drama, Sci-Fi',
 'Drama',
 'Drama, Sport',
 'Animation, Drama, Family',
 'Comedy, Drama, Romance',
 'Drama',
 'Comedy',
 'Animation, Action, Adventure',
 'Comedy, Crime, Drama',
 'Animation, Adventure, Comedy',
 'Adventure, Comedy, Fantasy',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama, Mystery, Thriller',
 'Drama, Family, Musical',
 'Biography, Drama',
 'Comedy, Drama',
 'Biography, Drama, History',
 'Comedy, Drama, Music',
 'Drama',
 'Biography, Crime, Drama',
 'Drama',
 'Comedy, Romance',
 'Crime, Drama, Thriller',
 'Action, Adventure, Mystery',
 'Fantasy, Horror',
 'Drama',
 'Drama, Film-Noir, Romance',
 'Drama, Romance',
 'Drama, War',
 'Drama',
 'Action, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Crime, Drama',
 'Drama',
 'Drama, Horror, Thriller',
 'Drama',
 'Drama',
 'Drama, Fantasy, Romance',
 'Comedy, Romance, Thriller',
 'Crime, Drama, Film-Noir',
 'Comedy, Crime, Drama',
 'Drama',
 'Drama',
 'Drama, War',
 'Drama, Western',
 'Animation, Biography, Drama',
 'Drama, Thriller',
 'Crime, Drama',
 'Crime, Drama, Romance',
 'Drama, War',
 'Comedy',
 'Drama, Romance',
 'Horror, Mystery, Thriller',
 'Crime, Drama',
 'Animation, Crime, Drama',
 'Biography, Drama, Sport',
 'Action, Adventure',
 'Action, Drama, War',
 'Crime, Drama, Mystery',
 'Animation, Adventure, Comedy',
 'Mystery, Thriller',
 'Drama, Film-Noir, Mystery',
 'Comedy, Drama, Thriller',
 'Drama, Horror, Thriller',
 'Drama',
 'Crime, Thriller',
 'Drama, Western',
 'Crime, Drama, Sport',
 'Drama, Sport',
 'Drama, Thriller, War',
 'Comedy, Romance',
 'Drama, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Horror',
 'Action, Comedy, Thriller',
 'Crime, Drama, Mystery',
 'Drama',
 'Documentary, Drama',
 'Drama',
 'Drama, War',
 'Crime, Drama',
 'Action, Crime, Drama',
 'Drama',
 'Biography, Drama, History',
 'Drama',
 'Crime, Drama, Mystery',
 'Comedy, Drama',
 'Animation, Adventure, Family',
 'Action, Drama, Mystery',
 'Film-Noir, Thriller',
 'Action, Comedy, Romance',
 'Action, Drama',
 'Comedy, Musical, Romance',
 'Mystery, Thriller',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Music, Romance',
 'Animation, Adventure, Drama',
 'Drama',
 'Animation, Action, Adventure',
 'Biography, Crime, Drama',
 'Adventure, Drama, Western',
 'Comedy, Drama, War',
 'Drama, Sci-Fi',
 'Adventure, Comedy, Drama',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',
 'Action, Comedy, Drama',
 'Crime, Drama, Film-Noir',
 'Comedy, Drama',
 'Drama, Thriller',
 'Drama, Romance',
 'Drama, Film-Noir',
 'Drama, Film-Noir',
 'Drama',
 'Drama',
 'Drama, Family',
 'Drama, Horror, Sci-Fi',
 'Comedy',
 'Drama, Romance',
 'Crime, Drama',
 'Crime, Drama, Mystery',
 'Animation, Adventure, Family',
 'Action, Sci-Fi',
 'Comedy, Drama, Romance',
 'Drama, Romance, War',
 'Crime, Film-Noir, Thriller',
 'Comedy, Crime',
 'Crime, Film-Noir, Mystery',
 'Adventure, Drama, War',
 'Comedy, Drama, Family',
 'Comedy, Family, Romance',
 'Drama, Mystery, Thriller',
 'Drama, Romance',
 'Action, Crime, Drama',
 'Drama, War',
 'Crime, Drama, Thriller',
 'Biography, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Crime, Drama',
 'Crime, Drama',
 'Adventure, Comedy, Drama',
 'Comedy, Drama, Romance',
 'Adventure, Comedy, Crime',
 'Drama',
 'Comedy, Drama, War',
 'Adventure, Drama, History',
 'Crime, Drama, Fantasy',
 'Drama, Romance',
 'Drama, Sport',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Comedy, Drama, Family',
 'Crime, Drama, Film-Noir',
 'Biography, Drama, History',
 'Drama, Romance',
 'Drama, Romance, War',
 'Animation, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Crime, Film-Noir, Mystery',
 'Drama, Western',
 'Adventure, War',
 'Action, Sci-Fi',
 'Biography, Drama',
 'Crime, Drama, Film-Noir',
 'Animation, Family, Fantasy',
 'Comedy, Romance',
 'Biography, Drama, Music',
 'Drama, Mystery, Sci-Fi',
 'Drama, Music, Romance',
 'Drama, Romance',
 'Crime, Drama, Film-Noir',
 'Adventure, Drama, Western',
 'Drama',
 'Drama',
 'Drama, Horror',
 'Comedy, Drama, Romance',
 'Crime, Drama, Thriller',
 'Comedy, Crime, Drama',
 'Biography, Drama',
 'Action, Sci-Fi',
 'Horror, Mystery, Sci-Fi',
 'Film-Noir, Mystery, Thriller',
 'Adventure, Drama, Western',
 'Comedy, Drama',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Adventure, Family, Fantasy',
 'Drama',
 'Comedy, Crime, Drama',
 'Comedy, Romance, War',
 'Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Comedy, Family',
 'Drama',
 'Crime, Drama, Film-Noir',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Drama',
 'Drama, Music, Mystery',
 'Drama, Mystery, Romance',
 'Comedy, Crime, Romance',
 'Action, Drama, Thriller',
 'Drama',
 'Drama, Fantasy, War',
 'Drama',
 'Drama, Thriller, War',
 'Crime, Drama',
 'Drama',
 'Comedy, Drama, Fantasy',
 'Drama, Western',
 'Animation, Adventure, Comedy',
 'Mystery, Romance, Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama, History',
 'Animation, Adventure, Family',
 'Drama, Mystery',
 'Drama, Horror, Thriller',
 'Drama, Music',
 'Action, Crime, Drama',
 'Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Drama, Thriller',
 'Crime, Drama, Thriller',
 'Comedy',
 'Biography, Drama',
 'Animation, Adventure, Comedy',
 'Crime, Drama',
 'Animation, Drama, Family']

In [251]:
MovieData_df['Genre'] = genre

In [252]:
MovieData_df['Genre']

0                      Crime, Drama
1         Biography, Drama, History
2                Action, Drama, War
3                 Adventure, Sci-Fi
4                             Drama
                   ...
495                          Comedy
496                Biography, Drama
497    Animation, Adventure, Comedy
498                    Crime, Drama
499        Animation, Drama, Family
Name: Genre, Length: 500, dtype: object

In [253]:
MovieData_df

,Id,Title,Year,Certificate,Runtime,Genre,Imdb_rating,Metascore,Director,Votes,Gross
0,1,12 Angry Men,(1957),U,96 min,"Crime, Drama",9.0,97.0,Sidney Lumet,"844,910",$4.36M
1,2,12 Years a Slave,(2013),A,134 min,"Biography, Drama, History",8.1,96.0,Steve McQueen,"731,219",$56.67M
2,3,1917,(2019),R,119 min,"Action, Drama, War",8.2,78.0,Sam Mendes,"654,454",$159.23M
3,4,2001: A Space Odyssey,(1968),U,149 min,"Adventure, Sci-Fi",8.3,84.0,Stanley Kubrick,"706,415",$56.95M
4,5,"4 luni, 3 saptamâni si 2 zile",(2007),NaN,113 min,Drama,7.9,97.0,Cristian Mungiu,"62,763",$1.19M
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Zelig,(1983),NaN,79 min,Comedy,7.7,NaN,Woody Allen,"43,664",$11.80M
496,497,Zerkalo,(1975),NaN,107 min,"Biography, Drama",8.0,82.0,Andrei Tarkovsky,"50,989",$0.18M
497,498,Zootopia,(2016),U,108 min,"Animation, Adventure, Comedy",8.0,78.0,Byron Howard,"533,952",$341.27M
498,499,À bout de souffle,(1960),U,90 min,"Crime, Drama",7.7,NaN,Jean-Luc Godard,"86,672",$0.34M
499,500,Ôkami kodomo no Ame to Yuki,(2012),U,117 min,"Animation, Drama, Family",8.1,71.0,Mamoru Hosoda,"48,369",NaN

In [254]:
MovieData_df.Year

0      (1957)
1      (2013)
2      (2019)
3      (1968)
4      (2007)
        ...
495    (1983)
496    (1975)
497    (2016)
498    (1960)
499    (2012)
Name: Year, Length: 500, dtype: object

In [256]:
MovieData_df['Year']

0      (1957)
1      (2013)
2      (2019)
3      (1968)
4      (2007)
        ...
495    (1983)
496    (1975)
497    (2016)
498    (1960)
499    (2012)
Name: Year, Length: 500, dtype: object

In [257]:
import re

In [258]:
year = []
for i in MovieData_df['Year']:
    regex = re.findall('(\d+)',i)
    if regex:
        year.append(int(regex[0]))
    else:
        year.append(np.nan)

In [259]:
MovieData_df['Year'] = year

In [260]:
MovieData_df['Year']

0      1957
1      2013
2      2019
3      1968
4      2007
       ...
495    1983
496    1975
497    2016
498    1960
499    2012
Name: Year, Length: 500, dtype: int64

In [261]:
MovieData_df.Runtime = MovieData_df.Runtime.apply(lambda x: x.replace("min","")).astype('int')

In [262]:
MovieData_df.Runtime

0       96
1      134
2      119
3      149
4      113
      ...
495     79
496    107
497    108
498     90
499    117
Name: Runtime, Length: 500, dtype: int32

In [263]:
MovieData_df.Votes = MovieData_df.Votes.apply(lambda x: x.replace(",","")).astype('int')

In [264]:
MovieData_df.Votes

0      844910
1      731219
2      654454
3      706415
4       62763
        ...
495     43664
496     50989
497    533952
498     86672
499     48369
Name: Votes, Length: 500, dtype: int32

In [265]:
MovieData_df["Gross"]

0        $4.36M
1       $56.67M
2      $159.23M
3       $56.95M
4        $1.19M
         ...
495     $11.80M
496      $0.18M
497    $341.27M
498      $0.34M
499         NaN
Name: Gross, Length: 500, dtype: object

In [266]:
MovieData_df["Gross"] = MovieData_df["Gross"].replace('M','',regex=True)

In [267]:
MovieData_df["Gross"]

0        $4.36
1       $56.67
2      $159.23
3       $56.95
4        $1.19
        ...
495     $11.80
496      $0.18
497    $341.27
498      $0.34
499        NaN
Name: Gross, Length: 500, dtype: object

In [268]:
MovieData_df.Gross = MovieData_df.Gross.apply(lambda x: str(x).replace("$",""))

In [269]:
MovieData_df.Gross

0        4.36
1       56.67
2      159.23
3       56.95
4        1.19
        ...
495     11.80
496      0.18
497    341.27
498      0.34
499       nan
Name: Gross, Length: 500, dtype: object

In [270]:
MovieData_df.Gross = MovieData_df.Gross.astype(float)

In [271]:
MovieData_df["Gross"].describe()

count    352.000000
mean      50.548267
std       90.861163
min        0.000000
25%        1.027500
50%        7.815000
75%       50.492500
max      534.860000
Name: Gross, dtype: float64

In [272]:
MovieData_df.dtypes

Id               int64
Title           object
Year             int64
Certificate     object
Runtime          int32
Genre           object
Imdb_rating    float64
Metascore      float64
Director        object
Votes            int32
Gross          float64
dtype: object

In [273]:
MovieData_df

,Id,Title,Year,Certificate,Runtime,Genre,Imdb_rating,Metascore,Director,Votes,Gross
0,1,12 Angry Men,1957,U,96,"Crime, Drama",9.0,97.0,Sidney Lumet,844910,4.36
1,2,12 Years a Slave,2013,A,134,"Biography, Drama, History",8.1,96.0,Steve McQueen,731219,56.67
2,3,1917,2019,R,119,"Action, Drama, War",8.2,78.0,Sam Mendes,654454,159.23
3,4,2001: A Space Odyssey,1968,U,149,"Adventure, Sci-Fi",8.3,84.0,Stanley Kubrick,706415,56.95
4,5,"4 luni, 3 saptamâni si 2 zile",2007,NaN,113,Drama,7.9,97.0,Cristian Mungiu,62763,1.19
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Zelig,1983,NaN,79,Comedy,7.7,NaN,Woody Allen,43664,11.80
496,497,Zerkalo,1975,NaN,107,"Biography, Drama",8.0,82.0,Andrei Tarkovsky,50989,0.18
497,498,Zootopia,2016,U,108,"Animation, Adventure, Comedy",8.0,78.0,Byron Howard,533952,341.27
498,499,À bout de souffle,1960,U,90,"Crime, Drama",7.7,NaN,Jean-Luc Godard,86672,0.34
499,500,Ôkami kodomo no Ame to Yuki,2012,U,117,"Animation, Drama, Family",8.1,71.0,Mamoru Hosoda,48369,NaN

In [274]:
MovieData_df.dtypes

Id               int64
Title           object
Year             int64
Certificate     object
Runtime          int32
Genre           object
Imdb_rating    float64
Metascore      float64
Director        object
Votes            int32
Gross          float64
dtype: object

In [275]:
MovieData_df

,Id,Title,Year,Certificate,Runtime,Genre,Imdb_rating,Metascore,Director,Votes,Gross
0,1,12 Angry Men,1957,U,96,"Crime, Drama",9.0,97.0,Sidney Lumet,844910,4.36
1,2,12 Years a Slave,2013,A,134,"Biography, Drama, History",8.1,96.0,Steve McQueen,731219,56.67
2,3,1917,2019,R,119,"Action, Drama, War",8.2,78.0,Sam Mendes,654454,159.23
3,4,2001: A Space Odyssey,1968,U,149,"Adventure, Sci-Fi",8.3,84.0,Stanley Kubrick,706415,56.95
4,5,"4 luni, 3 saptamâni si 2 zile",2007,NaN,113,Drama,7.9,97.0,Cristian Mungiu,62763,1.19
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Zelig,1983,NaN,79,Comedy,7.7,NaN,Woody Allen,43664,11.80
496,497,Zerkalo,1975,NaN,107,"Biography, Drama",8.0,82.0,Andrei Tarkovsky,50989,0.18
497,498,Zootopia,2016,U,108,"Animation, Adventure, Comedy",8.0,78.0,Byron Howard,533952,341.27
498,499,À bout de souffle,1960,U,90,"Crime, Drama",7.7,NaN,Jean-Luc Godard,86672,0.34
499,500,Ôkami kodomo no Ame to Yuki,2012,U,117,"Animation, Drama, Family",8.1,71.0,Mamoru Hosoda,48369,NaN

In [276]:
MovieData_df.to_csv('MovieData_cleaned.csv')